<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Chat-Go</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
        ul#messages {
            list-style: none;
        }

        ul#messages li {
            margin-bottom: 2px;
        }

        ul#messages li img {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul id="messages"></ul>
        </div>
    </div>
    <form id="chatbox" role="form">
        <div class="form-group">
            <label for="messages">{{.UserData.name}}からのメッセージを送信</label>
            または<a href="/logout">サインアウト</a>
            <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="送信" class="btn btn-default"/>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(function () {
        var socket = null;
        var msgBox = $("#message");
        var messages = $("#messages");
        $("#chatbox").submit(function () {
            if (!msgBox.val()) return false;
            if (!socket) {
                alert("エラー：WebSocket接続が行われていません。");
                return false;
            }
            socket.send(JSON.stringify({"Message": msgBox.val()}));
            msgBox.val("");
            return false;
        });
        if (!window["WebSocket"]) {
            alert("エラー：WebSocketに対等していないブラウザです。");
        } else {
            socket = new WebSocket("ws:{{.Host}}/room");
            socket.onclose = function () {
                alert("接続が終了しました。")
            };
            socket.onmessage = function (e) {
                var msg = JSON.parse(e.data);
                messages.append(
                    $("<li>").append(
                        $("<img>").attr("title", msg.name).css({
                            width: 50,
                            verticalAlign: "middle"
                        }).attr("src", msg.AvatarURL),
                        $("<span>").text(msg.Message)
                    )
                );
            };
        }
    });
</script>
</body>
</html>